/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   display: flex;
   flex-wrap: wrap;
   
}

.ytv {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.ytv__bottom {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.ytv__left {
   display: flex;
   align-items: center;
   gap: 1em;
}

.ytv__right {
    display: flex;
    justify-content: space-between;
}

.profile {
   display: flex;
   gap: 1em;
}

.profile__text {
    
}

.icon {

}

.btn--flex {
   
}