/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
}

.ytv {
    
}
.ytv__bottom {
   
}

.ytv__left {
   display: flex;
   align-items: center;
   gap: 1em;
}

.ytv__right {
    display: flex;
    justify-content: space-around;
}

.profile {
   display: flex;
   gap: 1em;
}

.profile__text {
    
}

.icon {

}
.btn--flex {
   
}